@model IEnumerable<RentYouRide.Models.tbl_User>
@{
    ViewBag.Title = "Home";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">

        <h1 id="title">Home</h1>
        <p class="lead">
            Welcome To Rent You Ride.
            <img src="~/Images/car-rental-concept-illustration.jpg" />
            <br />
            <br />Create Car, Add Driver,Inspector an Rent or Return Car.
         </p>
       </section>
</main>
